

html,body {
    margin:0;
    padding:0;
    height:100%; /* needed for container min-height */
    overflow: hidden;
}

body {
    padding-top: 45px;
}

#content{
    height: 100%;
    width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: inline-block;

    min-height:100%; /* real browsers */
}
	
#header{
	height: 5%;
    width: 100%;
    min-height:5%;
    background-color:#2F4F4F;
    float: left;
}



#main{
    width: 100%;
    height: 100%;
	background-color:#F5F5F5;
    float: left;
}

#loginfield{
    height: 30%;
    width: 20%;
    margin-top: 10%;
    margin-left: 40%;
    box-sizing: border-box;
}

#searchfield{
    height: 10%;
    width: 80%;
    margin-top: 5%;
    margin-left: 30%;
    box-sizing: border-box;
}

#searchfielddetail{
    height: 5%;
    width: 80%;
    margin-top: 3%;
    margin-left: 4%;
    box-sizing: border-box;
}

#resultfieldperson{
    width: 60%;
    margin-top: 1%;
    margin-left: 20%;
    box-sizing: border-box;
    background-color: white;
    display: none;
}

#resultfieldroom{
    width: 60%;
    margin-top: 1%;
    margin-left: 20%;
    box-sizing: border-box;
    background-color: white;
    display: none;
}

#resultfieldtransponder{
    width: 60%;
    margin-top: 1%;
    margin-left: 20%;
    box-sizing: border-box;
    background-color: white;
    display: none;
}

#resultfielddetail{
    height: 60%;
    width: 38%;
    margin-top: 1%;
    margin-left: 5%;
    box-sizing: border-box;
    background-color: white;
}

#resultfieldrvstart{
    height: 60%;
    width: 60%;
    margin-top: 1%;
    margin-left: 20%;
    box-sizing: border-box;
    background-color: white;
}

#persondetail{
    height: 60%;
    width: 60%;
    margin-top: 1%;
    margin-left: 20%;
    box-sizing: border-box;
    background-color: green;
}

#detailNameBlock{
    height: 10%;
    width: 38%;
    margin-top: 1%;
    margin-left: 5%;
    box-sizing: border-box;
    background-color: white;
}


#footer{
	background-color: #2F4F4F;
	width: 100%;
    height: 5%;
    box-sizing: border-box;
    float: left;
}

.navblock{
    float: left;
    background-color:lightgray;
    width: 13%;
    height: 100%;
}

.navblockCurrent{
    float: left;
    background-color:whitesmoke;
    width: 13%;
    height: 100%;
}

a:hover{
    text-decoration: none;
    color: white !important;	
}

.navlink{
    display: inline;
    margin-left: 10%;
    color: white;
    font-size: 110%;
     position: relative;
  
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.buttonclear{
    height: 100%;
    border: none !important;
    background: none !important;    
}

.buttonright{
   float: right;
   background-color:  #C0C0C0;
}

.copylink{
    display: inline;
    color: white;
    font-size: 130%;
     position: relative;
  
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .bigspan{
    display: inline-block;
    color: #2F4F4F;
    font-size: 180%;
     position: relative;
     margin-top: 2%;
     margin-left: 1%;

  
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .smallspan{
    display: inline-block;
    color: #2F4F4F;
    font-size: 140%;
     position: relative;
     margin-top: 1%;
     margin-left: 1%;

  
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .verantwortlichspan{
    display: inline-block;
    color: black;
    font-size: 130%;
     position: relative;
     margin-top: 3%;
     margin-left: 1%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .fakespace{
      height: 50%;
      width: 100%;
      min-height: 5%;
      margin-top: 33%;
  }

