

html,body {
    margin:0;
    padding:0;
    height:100%; /* needed for container min-height */
    overflow: hidden;
}

#content{
    height: 100%;
    width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: inline-block;

    min-height:100%; /* real browsers */
    background-color:blue;
}
	
#header{
	height: 5%;
    width: 100%;
    min-height:5%;
    background-color:#2F4F4F;
    float: left;
}



#main{
	width: 100%;
	height: 90%;
	min-height:90%;
    background-color:#F5F5F5;
    float: left;
}

#loginfield{
    height: 30%;
    width: 20%;
    margin-top: 10%;
    margin-left: 40%;
    box-sizing: border-box;
}

#searchfield{
    height: 30%;
    width: 80%;
    margin-top: 10%;
    margin-left: 30%;
    box-sizing: border-box;
}

#footer{
	background-color: #2F4F4F;
	width: 100%;
    height: 5%;
    box-sizing: border-box;
    float: left;
}

.navblock{
    float: left;
    background-color:lightgray;
    width: 13%;
    height: 100%;
}

a:hover{
    text-decoration: none;
    color: white !important;	
}

.navlink{
    display: inline;
    margin-left: 10%;
    color: white;
    font-size: 110%;
     position: relative;
  
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.buttonclear{
    height: 100%;
    border: none !important;
    background: none !important;    
}

.buttonright{
   float: right;
   background-color:  #C0C0C0;
}

.copylink{
    display: inline;
    color: white;
    font-size: 130%;
     position: relative;
  
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .fakespace{
      height: 50%;
      width: 100%;
      min-height: 5%;
      margin-top: 33%;
  }

